.aboutContainer {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 25px;
    position: relative;

    .aboutImg {
        width: 50%;

        img {
            width: 100%;
        }
    }

    .aboutText {
        background-color: white;
        width: 52%;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        position: absolute;
        right: 25px;
        padding: 50px 25px;

        h1 {

            // font-family: 'Courier New', Courier, monospace;
            &::after {
                content: "";
                background-color: #f1db25;
                position: absolute;
                top: 27%;
                left: 25px;
                // bottom: 0;
                width: 40px;
                height: 7px;
                border-radius: 5px;
            }
        }

        p {
            margin-block: 25px 20px;
            line-height: 1.6;
        }

        Button {
            background-color: #f1db25;
            color: white;
            text-transform: uppercase;

            &:hover {
                color: #f1db25;
                border: 1px solid #f1db25;
            }
        }
    }
}