.hero {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../assets/hero-bg.jpg');
}

.landingContainer {
    margin-inline: 46px 105px;
    margin-block: 66px 30px;
    color: white;
    width: auto;

    .landingHeading {
        text-transform: uppercase;
        font-size: 3rem;
        font-weight: 700;
        // padding-bottom: 10px;

        .orange {
            color: #f1db25;
        }
    }

    .landingPara {
        margin-block: 25px 30px;
        line-height: 1.6;
        font-weight: 500;
        width: 60%;
    }

    .landingBtns {
        display: flex;

        Button {
            padding: 15px 45px;
            cursor: pointer;
        }

        .read-more Button {
            background-color: white;
            color: black;
            margin-right: 10px;

            &:hover {
                background-color: transparent;
                color: white;
                border: 1px solid white;
            }
        }
    }
}

.landingIndicators {
    ul {
        display: flex;
        justify-content: end;
        align-items: center;
        padding-right: 30px;
        cursor: pointer;

        li {
            padding-right: 8px;
            font-size: 20px;
            color: #f1db25;
        }

        .active {
            color: white;
        }
    }
}