.btnContainer {
    button {
        background-color: #f1db25;
        color: white;
        font-size: 15px;
        padding: 12px 35px;
        border: none;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            background-color: transparent;
            color: #f1db25;
            border: 1px solid #f1db25;
        }
    }
}